
<br />
<br />
<br />

<% @signs.each do |sign| %>
  

  <div>
    <h1><%= sign.saying %></h1><br />
    <i><%=  sign.city %></i><br />
  </div>

  <hr />
<% end %>





<br />
<br />
<br />
<br />



