
<br />
<br />
<div class="funnysign col-sm-10 offset-1">
  <h1>Read or Contribute funny signs!</h1>
</div>
<br />
<br />

<div class="completed_sayings">

<% @signs.each do |sign| %>
  

  <div>
    <h1><%= sign.saying %></h1><br />
    <i><%=  sign.city %></i><br />
  </div>

  <hr />
<% end %>
</div>




<br />
<br />
<br />
<br />



