
<div class="funnysign col-sm-12">
  <h1>Contribute funny Signs or Store Names!</h1>
</div>
<br />
<br />

<div class="completed_sayings">
  <% @signs.each do |sign| %>
    <h1><%= sign.saying %></h1><br />
    <h3><%=  sign.city %></h3>
    <h11>Funny Sign</h11>
    <br />
    <hr />
  <% end %>
</div>





