@import "bootstrap";

.clear {
  clear: both;
}

body {
  background: image_url('white-waves.png');
}

.navbar {
  background: image_url('light-grey-terrazzo.png');
  box-shadow: 0px 1px 3px #2a2a2a;
  width: 100%;
}

.all {
  margin-top: 30px;
  margin-left: -30px;
}

.funnysign {
  color: #25F7A9;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.UofT {
  color: black;
  margin-top: 10px;
  margin-right: 200px;
  margin-left: 250px;
}

.navbar-brand {
  color: black;
}

.QuizTitle {
  color: black;
  font-size: 30px;
}

.myNavbar   {
    background-color: #ccc;
    color:#222;
    border: 1px solid #333;
 }



